
/* .color-pallete { 
   https://colorhunt.co/palette/180665 
   #F6F578
   #F6D743
   #649D66 
   #06623B 
 */

.app {
  
}
body {
  background-color:  #c8c3cc;
  margin: 0;
}

.top-nav {
  border: thin solid;
  background-color: #2B2D2F;
  margin-bottom: .1em;
  position: relative;
}

.top-nav ul {
  list-style: none;
}

.top-nav li {
  display: inline-block;
}

.top-nav a {
  padding: .5em;
  margin: .2em;
  border: thin solid;
  background-color: #06623B;
  color: white;
  text-decoration: none;
}

.top-nav a:hover {
  background-color: #649D66;
}

.top-nav-left-image {
  color: #F6F578;
  font-size: 4em;
  display: inline-block;
}

.top-nav-left-app-name {
  color: white;
  display: inline-block;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 70px;
  font-size: 2em;
}

.top-nav-links {
  display: inline-block;
  position: absolute;
  top: 46%;
  left: 240px;
  transform: translateY(-50%);

}

.profile-pic-lg {
  height: 60px;
  width: 60px;
  border-style: solid;
}

.profile-pic-sm {
  height: 20px;
  width: 20px;
}

.profile-pic-lg:hover {
  cursor: pointer;
  border-color: #06623B;
  color: #06623B;
}

.person-menu {
  top: 32px;
  left: 0;
  width: 78px;
  height: 100%;
  position: fixed;
  overflow: auto;
  /*background-color: #e0e2e4;*/
  background-color: #252525;
  /*
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: gray;
  */
}

.person-menu ul {
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.person-menu li {
  color: #ffffff;
  /*color: #666;*/
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
  overflow: hidden;
  text-align: center;
}
.filters { 
  z-index: 0;
  position: fixed;
  width: 100%;
  top: 74px;
  left: 78px;
  height: 18px;
  background-color: #e0e2e4;
  padding-left: 5px;
}

.content {
  padding-left: .25em;
  padding-right: .25em;
  margin-top: .25em;
}

.tasks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* .three-column { */
/*   width: 33.33%; */
/* } */

/* .four-column { */
/*   width: 25%; */
/* } */

/* .five-column { */
/*   width: 20%; */
/* } */

/* .three-column, .four-column, */
/*   .five-column { */
/*     float: left; */
/*     vertical-align: top; */
/*   } */

.column-header {
  text-align: center;
  font-size: 18px;
  border-style: solid;
  border-width: thin;
  border-color: #d4d4d4;
  margin-right: .02em;
  margin-left: .02em;
  color: #ffffff;
  padding-top: .30em;
  padding-bottom: .30em;
}

.not-started-header {
  background-color: #252525;
  /* background-color: #649D66; */
  /* color: white; */
}
.in-progress-header {
  background-color: #252525;
  /* background-color: #5f85be; */
}

.paused-header {
  background-color: #252525;
  /* background-color: #9c0202; */
}

.completed-header {
  background-color: #252525;
  /* background-color: #00c32b; */
}

.deleted-header {
  background-color: #252525;
  /* background-color: red; */
}

.task-item {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .50em;
  margin-top: .50em;
  background-color: #e0e2e4;
  border-style: solid;
  border-width: thin;
  border-color: #d4d4d4;
}

.undo-label-div {

}

.undo-label-div label{
  color: white;
  background-color: orange;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
}

.task-item-header {
  padding-left: 5px;
  padding-top: 2.5px;
  margin-bottom: .50em;
  border-style: solid;
  border-width: thin;
  border-color: gray;
  /* border-top: none; */
  /* border-left: none; */
  /* border-right: none; */
  background-color: #649D66;
  color: white;
  /* background-color: #373854; */
  /* color: white; */
  font-weight: bold;
}

.task-item-name {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  width: 85%;
}

.overdue-icon {
  color: yellow;
  /* font-size: 20px; */
}

.task-item-pic {
  display: inline-block;
  width: 12%;
  vertical-align: top;
  margin-bottom: 1px;
}

.task-item-pic img {
  float: right;
}

.task-item-body {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  /*margin: 5px;*/
}

.task-item-top-line {
  font-style: italic;
  font-size: 12px;
  margin-bottom: .50em;
  margin-top: .50em;

}

.overdue-label {
  background-color: yellow; 
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}

.task-item-frequency {
  display: inline-block;
  font-size: 12px;
}

.pull-right {
  float: right;
  margin-right: 0;
}

.task-item-description {
  font-size: 14px;
  margin-bottom: .50em;
  text-align: justify;
}

.task-item-bottom-line {
  overflow: hidden;
  height: auto;
}

.bottom-label {
  display: inline-block;
  /*border-color: #2e2e2e;*/
 /* padding: .25em;*/
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.task-item-icons {
  margin-top: 5px;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #999999;
  padding-top: 2px;
}

.start-btn:hover, .pause-btn:hover,
.complete-btn:hover, .edit-btn:hover,
.delete-btn:hover, .not-started-btn:hover,
.skip-btn:hover {
  cursor: pointer;
  /* background-color: #4caf50; */
  background-color: #649D66;
  /* color: white; */
}

.edit-btn {
  color: black;
}

.edit-buttons {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.edit-buttons label {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

.status-buttons {
  display: inline-block;
  width: 63%;
  vertical-align: top;
}

.status-buttons label {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}

.add-task-button-div {
  text-align: center;
  padding-top: 1em;
}

.add-task-button {
  font-size: 2em;
  color: #649D66;
  /* color: white; */
}
